a {
  transition: all .5s;
}

.content {
  width: 100%;
  padding-right: 10%;
  &__header {
    font-size: 3rem;
  }

  &__text {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  &__list {
    font-size: 1.5rem;
  }
}

.content__contact {
  width: 100%;

  & span {
    font-size: 1.25rem;
  }
}

.contact__icon {
  max-width: 50px;
  margin: 0.5rem;
}

.btn {
  transition: all .5s;
}