.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__img {
    width: 70%;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & textarea {
      height: 70%;
      resize: none;
      margin-top: 1rem;
    }
  }
}

.form-control {
  display: inline-block;
}

.btn-send {
  margin: 1rem 0 0 0;
  width: 100%;
}