#header {
  overflow: hidden;
  height: 9%;
  position: relative;
  z-index: 1000;
}

.navbar {
  background-color: #ecf0f1;
  border-bottom: 3px solid #007bff;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 .4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.navbar-light .navbar-nav .nav-link {
  display: flex;
  align-items: center;
  text-align: center;
  padding: .5rem 1rem;
  width: 100%;
  height: 100%;
  border-radius: 5px;

  &:hover {
    background-color: #007bff;
    color: #fff;
  }
}

.nav-link {
  transition: all .5s;
}

.active {
  background-color: #007bff;
  color: #fff !important;
}

.btn {
  margin: 1rem;
}

.btn-sign-up {
  width: 60%;
}

.btn-sign-in {
  width: 40%;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.navbar-toggler {
  margin: 0.5rem;
}

.navbar-collapse {
  border-radius: 10px;
}


#logo {
  margin-right: 1rem;
  width: 50px;
  height: 50px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-family: "Pacifico", cursive;
  padding: 0;
}