@import "fonts";
@import "~bootstrap/scss/bootstrap";
@import "header";



.container-fluid {
  padding: 0;
  overflow: hidden;
  padding: 0;
  background-color: aqua;
}

main {
  height: 87.5vh;
}

footer {
  height: 5vh;
}

h6 {
  padding: 1rem;
  text-align: right;
}