@import "fonts";
@import "~bootstrap/scss/bootstrap";
@import "common";
@import "header";
@import "home";
@import "about";
@import "contacts";
@import "feedback";
@import "modal";
@import "media";

body {
  background-color: #d1ddea;
  background-image: url("../img/diagonal-stripes.svg");
}

.container-fluid {
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow: hidden;
}

#page-article {
  opacity: 0;
}

main {
  height: 80%;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  background-color: #ecf0f1;
  height: 5%;
  border-top: 3px solid #007bff;
}
