@import "fonts";

* {
  box-sizing: border-box;
  overflow: hidden;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

body {
  background-image: url("../img/main.jpg");
  background-size: cover;
}

a {
  font-size: 2rem;
  text-decoration: none;
}

.active {
  background-color: #0984e3;
}

.container {
  width: 100%;
}

#header, #footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15vw;
  height: 5vh;
  background-color: rgba(0,0,0,0.5);
}

.logo h1 {
  font-size: 3rem;
}

.navigation {
  display: flex;
  height: 100%;
}

.nav-menu {
  height: 100%;
  display: flex;
  list-style: none;
  & li {
    height: 100%;
  }
}

.nav-menu--item {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 100%;
  text-decoration: none;
  transition: all 0.5s;
  &:hover {
    background-color: #0771c4;
  }
}

.buttons {
  height: 100%;
  display: flex;
  align-items: center;
  & button {
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: #0771c4;
    margin-left: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.5s;
    &:hover {
      background-color: #075897;
    }
  }
}

#page {
  height: 90vh;
  padding: 0 15vw;
}

.article {
  height: 93%;
  background-color: rgba(255,255,255,0.75);
  border-radius: 0.5rem;
  margin: 3rem;
  padding: 2rem;
  & h1, h2, h3, h4, h5, h6, p, ul, ol, li, span, a {
    color: #1d1d1d;
    font-size: 1.8rem;
  }
}

#footer {
  position: sticky;
  bottom: 0;
  justify-content: flex-end;
  & h6 {
    font-size: 2rem;
  }
}